.user-story-list {
    width: 34%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #D0D9E9;
}

.user-story-details {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.story-list-header {
    border-bottom: 1px solid #D0D9E9;
    padding: 20px;
}

.story-list-filter {
    border-bottom: 1px solid #D0D9E9;
    padding: 20px;
}

.story-item {
    padding: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #D0D9E9;
    display: inline-block;
    color: #1b1b1b;
    cursor: pointer;
    border-left: 4px solid transparent;
    &.active {
        background-color: #F4F7F8;
        border-color: #82DDBC;
    }
}

.story-list-wrapper {
    height: calc(100% - 160px);
    overflow: auto;
}