<div class="app-icon">
    <div class="circle-icon">
        <div class="inner-circle"></div>
    </div>
</div>
<div class="nav-wrapper">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-television"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-shopping-bag"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-area-chart"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-users"></i>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-google-wallet"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-file-text-o"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>