.app-icon {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #A9B7D0;
}

.circle-icon {
    width: 32px;
    height: 32px;
    // background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #0FC8BC;
    text-align: center;
    position: relative;

    .inner-circle {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        // background-color: #0FC8BC;
        border: 3px solid #0FC8BC;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.nav-wrapper {
    margin-top: 25px;
}
.nav-link {
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    position: relative;
    > i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:focus,
    &:hover {
        background-color: red;
    }
}