<div class="app-wrapper">
  <div class="sidebar-nav-wrapper">
    <app-sidebar-nav></app-sidebar-nav>
  </div>
  <div class="page-container">
    <div class="page-header row align-items-center">
      <div class="nav-arrows col-5">
        <div class="arrow-wrapper d-inline-block align-middle mr-3">
          <i class="fa fa-long-arrow-left"></i>
        </div>
        <div class="arrow-wrapper d-inline-block align-middle">
          <i class="fa fa-long-arrow-right"></i>
        </div>
        <h3 class="ml-3 mb-0 d-inline-block align-middle">User Stories</h3>
      </div>
      <div class="project-selector col-5">
        <span class="align-middle">Project:</span>
        <div class="d-inline-block align-middle text-danger" style="min-width: 180px;">
          <app-dropdown [list]="projectList" (selected)="selectedProject($event)" [option]="projectList[0].name"></app-dropdown>
        </div>
      </div>
      <div class="col-2 text-right">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-bell-o ml-2"></i>
      </div>
    </div>
    <div class="route-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>