<div class="app-wrapper">
  <div class="sidebar-nav-wrapper">
    <app-sidebar-nav></app-sidebar-nav>
  </div>
  <div class="page-container">
    <div class="page-header row align-items-center">
      <div class="nav-arrows col-5">
        <div class="arrow-wrapper d-inline-block align-middle mr-3">
          <i class="fa fa-long-arrow-left"></i>
        </div>
        <div class="arrow-wrapper d-inline-block align-middle">
          <i class="fa fa-long-arrow-right"></i>
        </div>
        <h2 class="ml-4 d-inline-block align-middle">User Stories</h2>
      </div>
      <div class="project-selector col-5">
        <span>Project:</span>
        <span class="text-danger ml-1">Pensions & Annuity</span>
        <i class="fa fa-sort-desc ml-2"></i>
      </div>
      <div class="col-2 text-right">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-bell-o ml-2"></i>
      </div>
    </div>
    <div class="route-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>