:host {
    width: 100%;
    display: block;
}

.test-case-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #92A5C7;
    border-radius: 10px;

    .item {
        border-right: 1px solid #92A5C7;
        width: 23%;
        padding: 10px;

        &:last-child {
            width: 30%;
            border-right: none;
        }
    }

    .label {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .value {
        color: #0FBC93;
        &.error {
            color: #FD346E;
        }
    }
}