/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

* {
    font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-group {
    position: relative;

    .input-icon {
        position: absolute;
        right: 12px;
        top: 6px;
    }

    .form-control {
        border-radius: 10px;
        background-color: #E3E5ED;
        font-size: 14px;
    }
}